<html>
	<head>
		<title>Hello, Rails!</title>
	</head>
	<body>
		<h1>Hello from Rails!</h1>
		<p>
			It is now <%= @time%>
		</p>
		<p>
			Time to say <%= link_to "Good Bye!!", :action => "goodbye"%>
		</p>
		<hr />
		<% 3.times do -%>
		Ho!!
		<br />
		<% end -%>
		Merry Christmas!
<hr />
		<% 3.downto(1) do |count| -%>
		<%= count %>...<br />
		<% end -%>
		Lift off!
<hr />
		Email: <%= h("Terrence & test <cuizhenyu007@gmail.com>") %>
<hr />
		<% @files = Dir.glob('app/*') %>
		<% for file in @files %>
		File name is: <%= file %>
		<% end %>
	</body>
</html>